.desktop-container, 
.desktop-container * {
  cursor: none !important;
}

.custom-cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  mix-blend-mode: difference;
  pointer-events: none; /* Let clicks pass through */
  z-index: 9999;
  transform: translate(-50%, -50%);
  transition: width 0.2s, height 0.2s, background-color 0.2s;
}

.custom-cursor.hidden {
  opacity: 0;
}

.custom-cursor.clicked {
  transform: translate(-50%, -50%) scale(0.8);
  background-color: white;
}

.custom-cursor.hovered {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255,255,255,0.8);
  mix-blend-mode: normal;
}
